* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1300px;
    margin: auto;
}

.navbar1 {
    background-color: #000;
    color: #fff;
}

.navbar {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.logo {
    color: #fff;
    font-size: 28px;
}
.logo span {
    color: red;
   
}

.menu-list ul {
    display: flex;
    font-size: 18px;

}

.menu-list li {
    list-style: none;
    margin-right: 25px;
    cursor: pointer;
}

.hero{
    background-image: url(/images/welcome-hero/banner.jpg);
    height: 100vh;
    width: 100%;
}